<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.needmore.thyme</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/USERNAME/path/to/thyme.py</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/USERNAME/Library/Safari/Bookmarks.plist</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/thyme.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/thyme.err</string>
</dict>
</plist>
